
body {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 10px;
}
#fc_checkout_container *, #fc_receipt_container * {
    color: #444444;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
#fc_cart_container * {
    margin: 0;
    padding: 0;
}
#fc_cart_container {
    background: url("//cdn.foxycart.com/static/themes/standard/images/cart-title.png") no-repeat scroll left top transparent;
    color: #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1.2;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#fc_cart_form {
    overflow: hidden;
    padding: 45px 0 0;
    width: 100%;
}
#fc_cart_table {
    border-collapse: collapse;
    clear: both;
    font-size: 11px;
    width: 100%;
}
#fc_cart_table caption {
    display: none;
}
#fc_cart_table td, #fc_cart_table th {
    color: #666666;
    font-size: 11px;
    padding: 2px 5px;
    text-align: left;
    vertical-align: top;
}
#fc_cart_head_item {
    width: 50%;
}
#fc_cart_head_quantity, #fc_cart_head_price {
    width: 25%;
}
#fc_cart_table td {
    border-bottom: 2px solid;
}
#fc_cart_table thead th {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: lowercase;
}
#fc_cart_table tfoot td {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #AAAAAA;
    font-size: 11px;
}
#fc_cart_table tfoot td.fc_col1 {
    text-align: right;
}
#fc_cart_foot_total td.fc_col1 {
    color: #CCCCCC !important;
    text-align: right;
}
#fc_cart_foot_subscriptions td, #fc_cart_foot_future_shipping td {
    color: #990000;
}
#fc_cart_foot_subscriptions td.fc_col1, #fc_cart_foot_future_shipping td.fc_col1 {
    font-style: italic;
}
#fc_cart_table #fc_cart_foot_total td {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    font-weight: normal;
    letter-spacing: 1px;
}
#fc_cart_table #fc_empty_cart {
    padding: 40px;
    text-align: center;
}
#fc_cart_table .fc_cart_remove_left, #fc_cart_table .fc_cart_remove_right {
    display: none;
}
input.fc_cart_item_quantity {
    float: left;
}
#fc_cart_table .fc_cart_remove_link {
    background: url("//cdn.foxycart.com/static/themes/standard/images/cart_item_remove.png") no-repeat scroll 8px -3px transparent;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 16px 0 0;
    width: 20px;
}
#fc_cart_table .fc_cart_remove_link:hover {
    background-position: 8px -27px;
}
tfoot #fc_cart_foot_discount_error td {
    background: none repeat scroll 0 0 #FFE6E6;
    color: #660000;
}
#fc_cart_foot_discount_new a {
    color: #990000;
}
tr.fc_cart_foot_discount span.fc_discount {
    float: left;
}
tr.fc_cart_foot_discount span.fc_cart_coupon_remove {
    float: left;
}
tr.fc_cart_foot_discount a.fc_cart_remove_link {
    background-position: 8px -6px !important;
    padding-top: 14px !important;
}
tr.fc_cart_foot_discount a.fc_cart_remove_link:hover {
    background-position: 8px -30px !important;
}
#fc_cart_container tr.fc_cart_item td {
    vertical-align: middle;
}
#fc_cart_container td.fc_cart_item_name {
}
#fc_cart_container td.fc_cart_item_image img {
    border: 0 none;
    width: 100px;
}
#fc_checkout_cart #fc_cart_container td.fc_cart_item_image img {
    width: 50px;
}
#fc_cart_container ul.fc_cart_item_options, #fc_cart_container li.fc_cart_item_subscription_details ul {
    background: none repeat scroll 0 0 transparent;
    list-style: none outside none;
    margin: 0 0 5px;
    padding: 0 0 0 15px;
}
#fc_cart_container li.fc_cart_item_option {
    background: none repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 9px;
}
#fc_cart_container li.fc_cart_item_subscription_details ul {
    border-top: 1px solid #CCCCCC;
}
#fc_cart_container li.fc_cart_item_subscription_details ul li.fc_cart_item_option {
}
#fc_cart_container input.fc_cart_item_quantity {
    border: 1px solid #CCCCCC;
    font-size: 11px;
    padding: 2px 4px;
    width: 2.5em;
}
#fc_cart_container span.fc_cart_item_price_total, #fc_cart_container span.fc_cart_item_price_each {
    display: block;
}
#fc_cart_container span.fc_cart_item_price_each {
    color: #666666;
    font-size: 9px;
}
th.fc_shipto {
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
}
th.fc_shipto a {
    color: #666666;
}
#fc_error_noscript {
    background: url("//cdn.foxycart.com/static/themes/standard/images/icon-warning.png") no-repeat scroll 5px 8px transparent;
    border: 1px solid #D03D39;
    clear: both;
    color: #990000;
    display: block;
    font-weight: normal;
    margin: 10px 0 25px;
    padding: 5px 5px 5px 25px;
}
#fc_error_noscript p {
    color: #990000;
}
#fc_error_noscript a {
    text-decoration: underline;
}
#fc_checkout_container {
    background: url("//cdn.foxycart.com/static/themes/standard/images/checkout-header.png") no-repeat scroll center top #FFFFFF;
    margin-top: 25px;
    padding: 85px 5px 50px;
}
#fc_checkout_container h2, #fc_receipt_container h2 {
    background: none no-repeat scroll left top transparent;
    height: 0;
    overflow: hidden;
    padding-top: 20px;
}
#fc_checkout_container p, #fc_receipt_container p {
    padding: 0 10px 10px;
}
#fc_checkout_container ol, #fc_receipt_container ol {
    list-style-type: none;
    margin: 0;
    padding: 0 0 15px;
}
#fc_checkout_container span.fc_ast, #fc_receipt_container span.fc_colon {
    color: #AAAAAA;
}
#fc_checkout_container .fc_error {
    color: #D03B39 !important;
}
span.fc_clear {
    clear: both;
    display: block;
    float: none;
    height: 0;
    overflow: hidden;
}
span.fc_help, span.fc_help * {
    color: #AAAAAA !important;
}
#fc_message_container {
    color: #333333;
    margin: 15px 0;
}
#fc_message_container ul {
    list-style: none outside none;
}
#fc_message_container div.fc_message {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-weight: normal;
    margin: 5px 0;
    padding: 5px 5px 5px 25px;
}
#fc_error_container li {
    list-style: none outside none;
}
#fc_error_container {
    background: url("//cdn.foxycart.com/static/themes/standard/images/icon-warning.png") no-repeat scroll 6px 4px #FFE4E1;
    border-color: #D03D39;
    color: #990000;
}
#fc_warning_container {
    background: url("//cdn.foxycart.com/static/themes/standard/images/icon-warning.png") no-repeat scroll 6px 4px #FFFFCC;
    border-color: #F9BD3B;
    color: #333333;
}
#fc_info_container {
    background: url("//cdn.foxycart.com/static/themes/standard/images/icon-info.blue.png") no-repeat scroll 9px 3px #E6F1F4;
    border-color: #266473;
    color: #266473;
}
#fc_checkout_container #fc_message_container {
    width: 47%;
}
#fc_checkout_container .fc_account_message {
    background: url("//cdn.foxycart.com/static/themes/standard/images/icon-info.blue.png") no-repeat scroll 8px 5px #E6F1F4;
    border-color: #266473;
    color: #266473;
    margin: 10px 0;
    padding: 5px 10px 10px 24px;
}
#fc_checkout_container a.fc_link_nav, #fc_cart_container a.fc_link_nav, #fc_receipt_links a.fc_link_nav {
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    height: 0;
    margin-left: 15px;
    overflow: hidden;
    padding-top: 20px;
}
#fc_checkout_container a.fc_link_nav:hover, #fc_cart_container a.fc_link_nav:hover, #fc_receipt_links a.fc_link_nav:hover {
    background-position: right -20px;
}
#fc_cart_container a.fc_cart_checkout_paypal {
    height: auto;
    overflow: auto;
    padding-top: 0;
    vertical-align: middle;
    width: auto;
}
#fc_cart_container a.fc_cart_checkout_paypal img {
    border: medium none;
}
#fc_cart_controls_top, #fc_cart_controls_bottom {
    margin: 12px 10px 15px 0;
    text-align: right;
}
#fc_cart_controls_top {
    margin-top: -30px;
}
#fc_cart_container #fc_cart_controls_top a.fc_cart_update, #fc_cart_container #fc_cart_controls_bottom a.fc_cart_update {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/cart-update.png");
    margin-right: 50px;
    padding-top: 24px;
    width: 75px;
}
#fc_cart_container #fc_cart_controls_top a.fc_cart_update_paypal, #fc_cart_container #fc_cart_controls_bottom a.fc_cart_update_paypal {
    margin-right: 5px;
}
#fc_cart_container a.fc_cart_checkout {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/cart-checkout.png");
    padding-top: 24px;
    width: 95px;
}
#fc_cart_container a.fc_cart_update:hover, #fc_cart_container a.fc_cart_checkout:hover {
    background-position: right -24px;
}
#fc_cart_container span.fc_cart_checkout_or {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/cart-checkout-or.png");
    background-position: right top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 0;
    margin-left: 15px;
    overflow: hidden;
    padding-top: 20px;
    width: 38px;
}
#fc_cart_container a.fc_inactive:hover {
    background-position: right top;
    cursor: default;
}
#fc_continue a.fc_link_forward {
    width: 100%;
}
#fc_checkout_container div.fc_fieldset_container, #fc_receipt_container div.fc_fieldset_container {
    float: left;
    margin-right: 3%;
    width: 47%;
}
#fc_checkout_container li.fc_row, #fc_receipt_container li.fc_row {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: none;
    margin: 0 0 10px;
    text-align: left;
    width: 100%;
}
li.fc_row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
li.fc_row {
    display: inline-block;
}
html[xmlns] li.fc_row {
    display: block;
}
* html li.fc_row {
    height: 1%;
}
#fc_checkout_container h2, #fc_receipt_container h2 {
    border-bottom: 2px solid #B2B2B2;
    color: #D03C3A;
    font-size: 18px;
    margin: 0;
    text-transform: lowercase;
}
#fc_checkout_container fieldset, #fc_receipt_container fieldset {
    border: medium none;
    margin: 0 0 40px;
    padding: 10px;
}
#fc_checkout_container legend, #fc_receipt_container legend {
    border-bottom: 2px solid #D6D6D6;
    color: #333333;
    display: none;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 8px;
}
#fc_checkout_container label.fc_pre, #fc_checkout_container span.fc_pre, #fc_receipt_container span.fc_pre {
    float: left;
    line-height: 1;
    padding: 5px 10px 0 0;
    text-align: right;
    width: 40%;
}
#fc_checkout_container .fc_row_error label.fc_pre {
    color: #D03C3A;
}
#fc_checkout_container label.fc_error {
    background: url("//cdn.foxycart.com/static/themes/standard/images/icon-warning.png") no-repeat scroll left center transparent;
    clear: both;
    color: #990000;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 5px 25px;
}
#fc_checkout_container label.fc_error a {
    color: #D03B39;
}
#fc_checkout_container #fc_form_checkout_error {
    background-color: #F7E0DF;
    background-position: 5px center;
    clear: none;
    margin: 15px 0;
    width: auto;
}
#fc_checkout_container li.fc_row_radio, #fc_checkout_container li.fc_row_checkbox {
    margin-bottom: 5px;
    padding-left: 36%;
    width: 64%;
}
#fc_checkout_container label.fc_radio, #fc_checkout_container label.fc_checkbox {
    float: left;
    padding-bottom: 0.25em;
    width: 65%;
}
#fc_checkout_container label.fc_radio span, #fc_checkout_container label.fc_checkbox span {
}
#fc_checkout_container input.fc_radio, #fc_checkout_container input.fc_checkbox {
    float: left;
    margin: 2px 10px 5px 0;
}
#fc_checkout_container .fc_row_radio label.fc_radio, #fc_checkout_container .fc_row_checkbox label.fc_checkbox {
    width: 97%;
}
#fc_checkout_container input.fc_text {
    background: none repeat scroll 0 0 #D6D6D6;
    border: 0 none;
    padding: 3px 6px;
    width: 155px;
}
#fc_checkout_container input.fc_text_short {
    width: 6em;
}
#fc_checkout_container .fc_row_error input.fc_text {
    background: none repeat scroll 0 0 #F7E0DF;
}
#fc_checkout_container input.fc_text_readonly {
    background-color: #EEEEEE;
    color: #000000;
}
#fc_cancel_continue_shopping {
    margin: 0 0 10px;
}
#fc_cancel_continue_shopping a {
}
#fc_login_register_container {
    clear: left;
}
div.fc_fieldset_container {
    clear: left;
}
#fc_login_register_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/checkout-step1-email.png");
}
div#fc_continue a.fc_link_nav {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/button-continue.png");
}
#fc_customer_billing_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/checkout-step2-address.png");
}
#fc_address_shipping_container {
    clear: none;
}
#fc_address_shipping_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/checkout-step2a-address.png");
}
#fc_use_different_address {
    border-top: 1px dashed #AAAAAA;
    float: left;
    margin-top: 3px;
    padding-left: 36%;
    padding-top: 10px;
    width: 64%;
}
#li_customer_company {
    display: none;
}
#fc_address_multiship_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/checkout-step2a-multiship.png");
    position: relative;
}
#fc_address_multiship_container ol.fc_shipto_subtotal {
    padding: 8px 0;
}
#fc_address_multiship_container ol.fc_shipto_options {
    border-bottom: 1px dashed #AAAAAA;
}
#fc_address_multiship_container div.fc_shipto_actions {
    border-top: 1px dashed #AAAAAA;
    margin: 8px 0 0;
    padding: 8px 0 8px 98px;
}
#fc_address_multiship_container div.fc_shipto_actions a {
    color: #D03C3A;
}
#fc_address_multiship_container h2 span.fc_shipto_name {
    bottom: 0;
    color: #D03C3A;
    font-size: 18px;
    font-weight: normal;
    left: 160px;
    position: absolute;
}
#fc_address_multiship_container div.fc_shipto_display_country {
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 4px;
    padding-bottom: 4px;
}
#fc_address_multiship_container div.fc_shipping_methods_inner {
    padding-left: 80px !important;
}
#li_shipping_company, li.li_shipping_company {
    display: none;
}
#fc_checkout_container div.fc_shipping_methods_container {
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 10px;
}
#fc_checkout_container div.fc_downloadable_message_container {
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 10px;
}
#fc_shipping_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/checkout-step3-shipping.png");
}
#fc_checkout_container div.fc_shipping_methods {
    float: none;
}
#fc_checkout_container div.fc_shipping_methods_inner {
    margin-bottom: 15px;
    padding-left: 5px;
}
#fc_checkout_container label.fc_shipping_methods {
    display: block;
    float: none;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    width: auto;
}
#fc_checkout_container div.fc_shipping_methods_inner label.fc_radio {
    width: 100%;
}
#fc_checkout_container div.fc_shipping_methods_inner label.fc_radio:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    cursor: pointer;
}
#fc_checkout_container div.fc_shipping_methods_container label.fc_radio span {
    float: left;
    padding: 0 0.4em 0 0;
}
#fc_checkout_container div.fc_shipping_methods_container label.fc_radio span.fc_shipping_cost {
    float: right;
    font-weight: bold;
    padding: 0 0 0 15px;
}
#fc_shipping_container #fc_shipping_methods_container label.fc_pre {
    padding: 0 0 10px;
}
div.fc_shipping_methods_container div.fc_row_error {
    background: none repeat scroll 0 0 #F7E0DF;
}
#fc_checkout_container #fc_payment_container {
    clear: none;
    float: right;
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 0;
}
#fc_payment_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/checkout-step4-payment.png");
}
#fc_c_card_saved_number {
    color: #994444;
    display: block;
    font-weight: bold;
    text-align: right;
}
li.fc_row_payment_method label.fc_radio img {
    vertical-align: middle;
}
#fc_payment_method_paypal_container label.fc_radio {
    width: auto;
}
#fc_payment_method_paypal_container span img {
    margin-right: 10px;
    vertical-align: middle;
}
#fc_checkout_container li fieldset {
    background-color: #F3F3F3;
    border: medium none;
    clear: both;
    margin: 10px 0 20px;
    padding: 10px 0;
    position: relative;
    top: 5px;
    width: 100%;
}
#fc_checkout_container li fieldset label.fc_pre {
    padding-left: 5%;
    width: auto;
}
#fc_checkout_container li fieldset li.fc_row_radio, #fc_checkout_container li fieldset li.fc_row_checkbox {
    padding-left: 5%;
    width: 95%;
}
#fc_checkout_container input#cc_number {
}
#fc_checkout_container input#cc_cvv2, #fc_checkout_container input#cc_issue_number {
    width: 3em;
}
#fc_complete_order_button_container {
    border-top: 1px dashed #AAAAAA;
    margin-top: 20px;
    padding: 20px 0;
    text-align: right;
}
#fc_complete_order_button {
    background: url("//cdn.foxycart.com/static/themes/standard/images/button-confirm-order.png") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    padding: 20px 10px 0;
    text-indent: -5000px;
    width: 186px;
}
#fc_complete_order_button:hover {
    background-position: 0 -20px;
}
#fc_checkout_cart {
    float: right;
    margin-bottom: 25px;
    margin-top: 130px;
    width: 47%;
}
#fc_checkout_cart #fc_cart_container {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0;
}
#cartTitle {
    margin: 15px;
}
#cartBody {
    margin: 0;
}
#cartColL {
    float: left;
    text-align: center;
    width: 100px;
}
#cartColR {
    float: left;
}
#fc_receipt_container {
    background: url("//cdn.foxycart.com/static/themes/standard/images/receipt-header.png") no-repeat scroll center top transparent;
    padding: 100px 5px 50px;
}
#fc_receipt_container h1 {
    display: none;
}
#fc_receipt_container fieldset {
    margin-left: 0;
}
#fc_receipt_container div.fc_fieldset_container_shipto h2, #fc_receipt_container div.fc_fieldset_container_shipto h2 {
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    height: auto;
}
#fc_receipt_download_links_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/receipt-download.png");
}
#fc_receipt_general_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/receipt-general.png");
}
#fc_receipt_order_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/receipt-order.png");
}
#fc_receipt_billing_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/receipt-billing.png");
}
#fc_receipt_shipping_container h2 {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/receipt-shipping.png");
}
#fc_receipt_container div.fc_fieldset_container_shipto h2, #fc_receipt_container div.fc_fieldset_container_shipto h2 {
    height: auto;
}
#fc_receipt_shipping_container {
    clear: right;
}
#li_shipping_name_first {
    border-top: 1px dashed #AAAAAA;
    margin-top: 15px;
    padding-top: 15px;
}
#fc_receipt_download_links ul li {
    background: none repeat scroll 0 0 transparent;
    list-style: square outside none;
    margin-left: 15px;
}
#fc_receipt_download_links ul li a {
    color: #D03C3A;
}
#fc_receipt_download_links ul li a:hover {
    text-decoration: underline;
}
#fc_checkout_container span.fc_pre, #fc_receipt_container span.fc_pre {
    padding-bottom: 5px;
}
#fc_checkout_container span.fc_text, #fc_receipt_container span.fc_text {
    clear: right;
    display: block;
    float: none;
    margin: 0;
    padding: 5px 0 0;
    text-align: left;
}
#fc_receipt_links {
    clear: both;
    float: right;
    margin: 15px 0 30px;
    text-align: center;
}
#fc_receipt_links a#fc_receipt_print_link {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/receipt-print.png");
    float: left;
    margin: 0 30px 0 0;
    width: 164px;
}
#fc_receipt_links a#fc_receipt_continue_link {
    background-image: url("//cdn.foxycart.com/static/themes/standard/images/button-continue.png");
    float: left;
    margin: 0 30px 0 0;
    width: 97px;
}