#tinybox 
{
	position:absolute; 
	display:none;
	background:#fff url(../img/preload.gif) no-repeat 50% 50%; 
	z-index:2000;	
}

#tinymask 
{
	position:absolute; 
	display:none; 
	top:0; 
	left:0; 
	height:100%; 
	width:100%; 
	background:#23415F; 
	z-index:1500
}

#tinycontent 
{
	background:#fff
}