<div class="abajo_internas">
	<div class="abajo_interna">
		<!--start holder-->
		<div class="holder_content">
				<h3 style="margin-left: 55px; color:#000; font-size:20px">Calidad Prili</h3>
              
<div class="hojas">
<div class="imagen_interna"><img src="imagenes/imagen_calidad.jpg" width="350" height="413"></div>
<div class="texto_internas"><p style="font-size: 18px">Prili ¡Lo mejor para vos!<br />
<p style="font-size: 24px; font-weight: bold">Cualidades de las prendas:</p><br />
* Ligeras, de gran elasticidad y resistencia.<br /><br />
* De microfibra europea, con mayor suavidad al tacto.<br /><br />
* Colores definidos que no pierden solidez.<br /><br />
* Con protección bacteriostática, que impide el desarrollo de bacterias.<br /><br />
* De secado rápido. <br /><br />
* Conformadas por fibras ¨inteligentes¨ <br /><br />
</p>

                </div>
	
				</div>
			<!-- start menu lat izq -->
			
			<!-- end menu lat izq -->
		</div>
		<!--end holder-->
	</div>
</div>