<div class="abajo_internas">
	<div class="abajo_interna">
		<!--start holder-->
		<div class="holder_content">
				<h3 style="margin-left: 55px; color:#000; font-size:20px">¿Como comprar online?</h3><div class="hojas" style="height: 930px">
          <table width="855" border="0" cellspacing="0" cellpadding="0" style="margin: 20px">
  <tr>
    <td colspan="3" style="font-size: 16px; padding-bottom: 8px">Pasos para comprar un producto</td>
    </tr>
  <tr>
    <td width="35" class="numpasos">1</td>
    <td class="textexpli">Elegí la prenda que mas te guste de nuestro catálogo de productos y hace click en la foto o en el botón ¨comprar¨</td>
    <td><img src="imagenes/expli1.jpg" width="180" height="110"></td>
  </tr>
  <tr>
    <td height="15" colspan="3"></td>
    </tr>
  <tr>
    <td class="numpasos">2</td>
    <td class="textexpli">A continuación se abrirá la página con el detalle del producto donde además podrás elegir entre talles, color, cantidad y si hay o no en stock</td>
     <td><img src="imagenes/expli2.jpg" width="180" height="110"></td>
  </tr>
  <tr>
    <td height="15" colspan="3"></td>
    </tr>
  <tr>
    <td class="numpasos">3</td>
    <td class="textexpli">Hace click en ¨agregar a la bolsa¨ y ya te aparecerá un mensaje confirmando que la prenda fue agregada, allí ya podrás acceder clickeando en el link ¨bolsa de compra¨.</td>
     <td><img src="imagenes/expli3.jpg" width="180" height="110"></td>
  </tr>
  <tr>
    <td height="15" colspan="3"></td>
    </tr>
  <tr>
    <td class="numpasos">4</td>
    <td class="textexpli">En ella verás los detalles de tus compras hasta el momento indicando subtotales y totales en pesos o en dólares (recuerda que el mínimo para poder completar tu compra es de $500.<br />
      Cuando decidas tu compra deberás elegir la forma de pago que mas desees que puede ser PAYPAL, OCA o por medio de la red ABITAB.</td>
     <td><img src="imagenes/expli4.jpg" width="180" height="110"></td>
  </tr>
  <tr>
    <td height="20" colspan="3"></td>
    </tr>
  <tr>
    <td colspan="3"><img src="imagenes/logo-como-comprar.png" width="300" height="23"></td>
    </tr>
  <tr>
    <td height="12" colspan="3"></td>
    </tr>
  <tr>
    <td height="100" colspan="3">
      Al hacer click en la opción AbitabNet u OCA verás la pantalla de ¨checkout¨.<br />
        - Allí deberás asegurarte de ingresar correctamente tus datos y un mail válido,  podrás optar por realizar la compra registrado o sin registrarte, 
en el primer caso tus datos ya quedaron guardados para futuras compras y solo necesitarás de una contraseña para ingresar.<br />
        - Podras seleccionar pagar con AbitabNet u OCA (en el caso de OCA podes seleccionar la cantidad de cuotas).<br />
      
      - Una vez que confirmes las compra verás el detalle de la misma e inmediatamente lo recibirás al correo que hayas ingresado.<br />
      - Si seleccionaste AbitabNet: <br />
        1 - Concurrir a cualquier local de Abitab del país.<br />
        2 - Mencionar pago por Abitab Net a nombre de Prili s.a. con el Nro.000593.<br />
        3 - Abonar el monto total de tu compra.<br />
        <b>IMPORTANTE:</b><br />
        Plazo de pago: 10 días.<br />
        Pasado este plazo, queda sin efecto la misma.<br />
        Las prendas las recibirás dentro de los próximos 4 días hábiles.<br />
    <br />- Si seleccionaste OCA: tu compra ya está confirmada y te entregaremos el producto en un máximo de 4 días hábiles.</td>
    </tr>
</table>
</div>
			<!-- start menu lat izq -->
			
			<!-- end menu lat izq -->
		</div>
		<!--end holder-->
	</div>
</div>