<div class="abajo_internas">
	<div class="abajo_interna">
		<!--start holder-->
		<div class="holder_content">
				<h3 style="margin-left: 55px; color:#000; font-size:20px">Empresa</h3>
              
	  <div class="hojas">
      <div class="imagen_interna"><img src="imagenes/imagen_empresa.jpg" width="350" height="413"></div>
      <div class="texto_internas"><p style="font-size: 20px; font-weight: bold">Breve historial:<br />
</p>
Con más de 60 años de vida , Prili es una empresa de estructura familiar que produce y exporta a diferentes países del mundo.<br /><br />
Sus inicios comenzaron en el mercado de medias y calcetines y desde hace más de una década , anexó la fabricación de prendas sin costura.<br /><br />
Contamos con un calificado equipo de trabajo que en base a capacitación y esfuerzo permanente ha logrado superar las exigencias de nuestros clientes y de las marcas más importantes de diversos mercados logrando confianza y conformidad.<br /><br />
Prili es una marca y es una actitud, que acompaña las tendencias internacionales de la moda con la mejor calidad.<br />
</p>

                </div>
	
				</div>
			<!-- start menu lat izq -->
			
			<!-- end menu lat izq -->
		</div>
		<!--end holder-->
	</div>
</div>