<div class="abajo_internas">
	<div class="abajo_interna">
		<!--start holder-->
		<div class="holder_content">
			<aside class="group1">
				<h3>Exportación</h3> 
				<!--aca pondrias lo de exportacion-->
				<div class="hojas">
					<div class="imagenes_internas"><img src="images/ima_empresa.jpg" width="277" height="356"></div>
					<p class="texto_internas"><span class="titulos_internas">Breve historia:</span><br>
					<br>
					Con más de 55 años de vida, Prili es una empresa de estructura familiar que produce y exporta a diferentes países del mundo.<br>
					<br>
					Sus inicios comenzaron en el mercado de medias y calcetines, y desde hace una década, anexó la fabricación de prendas sin costura.<br>
					<br>
					Contamos con un calificado equipo de trabajo que en base a capacitación y esfuerzo permanente ha logrado superar las exigencias de nuestros clientes y de las marcas más exigentes de diversos mercados, logrando confianza y conformidad.</p>
					<p class="texto_continuacion">Con más de 55 años de vida, Prili es una empresa de estructura familiar que produce y exporta a diferentes países del mundo.<br>
					<br>
					Sus inicios comenzaron en el mercado de medias y calcetines, y desde hace una década, anexó la fabricación de prendas sin costura.<br>
					<br>
					Contamos con un calificado equipo de trabajo que en base a capacitación y esfuerzo permanente ha logrado superar las exigencias de nuestros clientes y de las marcas más exigentes de diversos mercados, logrando confianza y conformidad.</p>
				</div>
				<!--fin aca pondrias lo de exportacion-->
			</aside>
			<!-- start menu lat izq -->
			
			<!-- end menu lat izq -->
		</div>
		<!--end holder-->
	</div>
</div>