<div class="abajo_internas">
	<div class="abajo_interna">
		<!--start holder-->
		<div class="holder_content">
				<h3 style="margin-left: 55px; color:#000; font-size:20px">Preguntas frecuentes</h3>
              
	  	<div class="hojas">
      	<div class="imagen_interna"><img src="imagenes/imagen_preguntas.jpg" width="350" height="413"></div>
      	<div class="texto_internas">
			<p><strong>¿Cuál es el precio mínimo para efectuar una compra Prili on-line?</strong><br />
			El precio mínimo es de $500 (quinientos pesos).<br />
			<br />
			<strong>¿Tiene costo de envío mi pedido?</strong><br />
			Para cualquier compra mayor de $500 el envío es gratis para cualquier parte del país.<br />
			<br />
			<strong>¿Cómo recibo mi compra?</strong><br />
			La compra llegará por el correo TIEMPOST.<br />
			<br />
			<strong>¿Cuánto demorará en llegar mi compra?</strong><br />
			Las prendas las recibirás en el correr de los 4 días hábiles luego de haber realizado el pago.<br />
			<br />
			<strong>¿Cómo se puede realizar el pago de mi compra?</strong><br />
			Se puede pagar por medio de ABITAB, OCA o PAYPAL.<br />
			<br />
			<strong>¿Qué pasa si no hay nadie para recibir cuando llega el envío por Tiempost?</strong><br />
			Tiempost dejará un aviso para que te comuniques con ellos y coordinar la entrega.<br />
			<br />
			<strong>Tuve inconvenientes con la compra y/o la entrega ¿A dónde me comunico?</strong><br />
			Comunicate con nosotros vía mail a <a href="mailto:ventasonline@prili.net">ventasonline@prili.net</a> o a los teléfonos (598+2) 203 61 68 / 209 90 89.<br />
			</p>
		</div>
		</div>
			<!-- start menu lat izq -->
			
			<!-- end menu lat izq -->
		</div>
		<!--end holder-->
	</div>
</div>