<!doctype html>  
	<head>
	<meta charset="UTF-8" />
	<title>PRILI</title>
	<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
	<link rel="stylesheet" type="text/css" href="css/ultimo2.css"/>
	<link rel="stylesheet" type="text/css" href="css/internos.css"/>
	<link rel="stylesheet" type="text/css" href="css/tinyboxstyle.css"/>
	<!--<link rel="stylesheet" type="text/css" href="css/FoxyCart - Styles.css"/>-->
	<!--start script cufon-->
	<script type="text/javascript" src='js/cufon-yui.js'></script>
	<script type='text/javascript' src='js/Trajan_Pro_400-Trajan_Pro_700.font.js'></script>
	<!-- end script cufon-->
	<!-- BEGIN FOXYCART FILES -->
	<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.18/style1_fc/colorbox.css" type="text/css" media="screen" charset="utf-8" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdn.foxycart.com/prili/foxycart.colorbox.js" type="text/javascript" charset="utf-8"></script>
	<!-- END FOXYCART FILES -->
	<script src="js/tooltip-script.js" language="javascript" type="text/javascript"></script>
	<script type="text/javascript" src='panel-administracion/templates/src/keypress_validation.js'></script>
	<script type="text/javascript" src='panel-administracion/templates/src/funcion.js'></script>
	<script type="text/javascript" src='js/tinybox.js'></script>
	<script type="text/javascript" src='js/generales.js'></script>
	<script type="text/javascript">
		actualizarLinkBolsa();
		Cufon.replace('h3,.prominent,.prominent2,nav,.submenu-fuente', {
			hover: true
		});
	</script>
	
	<!-- QUITAR
	<script src="js/jquery-1.7.1.min.js" language="javascript" type="text/javascript"></script> -->
	{$AJAX_JAVASCRIPT}
	</head>
<body>
<div class="arriba">
	<div class="adentro_arriba">
		<div>
			<ul class="sub-nav">
				<li id="facebook"><a href="http://www.facebook.com/priliuruguay" target="blank">Seguinos en </a></li>
				<li id="compras"><a href="https://prili.foxycart.com/cart?cart=view" id="linkbolsa"><img src="imagenes/cart-loading.gif" /></a></li>
				<li><a href="actualizar-datos.php" class="current">Mi cuenta</a></li>
                <li style="border:1px solid #dadada; padding: 0 5px; font-size: 11px; height: 16px; color: #999">MÍNIMO DE COMPRA $500 CON ENVÍO GRATIS A TODO EL PAÍS</li>
				<!--
				<li><a href="#">Registrarse</a></li>-->
			</ul>
		</div>
		<!--start logo-->
		<a href="index.php" id="logo"><img src="images/logo.png" width="172" height="53" alt="logo"/></a>    
		<!--end logo-->
	</div>
</div>
<div class="franja_menu">
	<div class="adentro_menu">
		<!--start menu-->
		<nav>
			<ul>
				<li><a href="index.php">Home</a></li>
				<li id="nav-destacado"><a href="prendas.php?linea=1">Dama</a></li>
				<li id="nav-destacado"><a href="prendas.php?linea=2">Hombre</a></li>
				<!--<li id="nav-destacado"><a href="prendas.php?linea=3">Infantil</a></li>-->
				<li><a href="empresa.php" style="width: 155px">empresa</a></li>
				<li><a href="faqs.php" style="width: 265px">¿Como comprar online?</a></li>
			</ul>
		</nav>
	</div>
</div>
<!--end header-->
{$contenido_seccion}
<!--start footer-->
<footer>
	<div class="container">
		<div id="FooterTree"> 
			<ul class="sub-nav-footer">
				<!--<li><a href="donde-comprar.php">¿dónde comprar prili? </a></li>-->
				<li><a href="calidad.php">calidad </a></li>
				<li><a href="faqs.php">Preguntas frecuentes</a></li>
                <li><a href="contacto.php">contacto</a></li>
                <li><img src="images/compra_segura.png" width="180" height="20"></li>
			</ul>
	  </div> 
	</div>
</footer>
<div class="dire">Prili S.A.   Guaycurú 2837  -  Montevideo, Uruguay  -  Tel: (598+2) 203 61 68 / 209 90 89  -  Fax: (598+2) 209 48 14  -  E-mail: prili@prili.net</div>
</body>
</html>