<section class="group2-vertical">
	<article class="holder_gallery_vertical">
		<p class="prominent2">¿Como comprar online?</p>
		<a  href="como-comprar.php"><img src="images/como-comprar-online2.png" width="160" height="92" alt="¿como comprar online?"/></a>
		<p class="prominent">Siga las indicaciones que aqui les ofrecemos para comprar los productos</p>    
		<span class="readmore"><a href="como-comprar.php">ver más</a></span> 
	</article>
	<span class="line"> </span>  
	<article class="holder_gallery_vertical">
		<p class="prominent2">Regale online cupones prili</p>
		<a  href="regalar-cupones.php"><img src="images/regale-online2.png" width="160" height="86" alt="regale online cupones prili"/></a>
		<p class="prominent">Haga un regalo a sus seres queridos vía online simplemente con un clic.</p>    
		<span class="readmore"><a href="regalar-cupones.php">ver más</a></span>   
	</article>
</section>