<table width="98%" align="center" cellspacing="0">
  <tr>
  	<td align="center" class="nivel01" width="12%">Identificador</td>
    <td align="center" class="nivel01">Nombre</td>
	<td align="center" class="nivel01">Línea</td>
	<td align="center" class="nivel01">Destacada</td>
    <td align="center" class="nivel01">Categoría padre</td>
    <td align="center" width="50" class="nivel01">&nbsp;</td>
  </tr>
  {section name=linea loop=$REG}
  <tr>
  	<td align="center" class="nivel02">{$REG[linea].id}</td>
    <td align="left" class="nivel02">{$REG[linea].nombre_categoria_prenda}</td>
	<td align="left" class="nivel02">{$REG[linea].nombre_linea}</td>
	<td align="left" class="nivel02">{$REG[linea].destacada_dsc}</td>
    <td align="left" class="nivel02">{$REG[linea].nombre_categoria_padre}</td>
    <td width="50" align="left" class="nivel02" nowrap="nowrap">{include file="base_accion_grid.htm"}</td>
  </tr>
  {/section}
</table>
