<table width="98%" align="center" cellspacing="0">
  <tr>
  	<td align="center" class="nivel01" width="12%">Identificador</td>
    <td align="center" class="nivel01">Nombre</td>
    <td align="center" class="nivel01" width="30">Vista</td>
    <td align="center" width="50" class="nivel01">&nbsp;</td>
  </tr>
  {section name=linea loop=$REG}
  <tr>
  	<td align="center" class="nivel02">{$REG[linea].id}</td>
    <td align="left" class="nivel02">{$REG[linea].nombre_color}</td>
	<td align="center" class="nivel02">
		<img src="{$SRC_VISTA}&id={$REG[linea].id}" alt="{$REG[linea].nombre_color}" />
	</td>
    <td width="50" align="left" class="nivel02" nowrap="nowrap">{include file="base_accion_grid.htm"}</td>
  </tr>
  {/section}
</table>
