{literal}
<style>
	#container { 
		width: 840px; 
	}
	.image { 
		width:{/literal}{$LARGO_THUMBNAIL_PRENDA}{literal}px;
		height:{/literal}{$ANCHO_THUMBNAIL_PRENDA}{literal}px;
		float:left;
		position:relative; 
		margin: 5px;
		cursor: pointer;
	}
	a.delete { 
		display:none;
		position:absolute;
		bottom:0;
		right:0;
		width:32px;
		height:32px;
		text-indent:-999px;
		background-image:url(templates/img/ico-eliminar-foto.png);
	}
	.image:hover a.delete { 
		display:block; 
	}
</style>
<script>
	var imgOrder = '';	

	$(function() {
  		$("#container").sortable({
			update: function(event, ui) {
	  			imgOrder = $("#container").sortable('toArray').toString();
			}
		});
		$("#container").disableSelection();
	});		
	
	function prepararBorrados(){
		$('a.delete').on('click', function(e){
			e.preventDefault();
			imageID = $(this).closest('.image')[0].id;
			
			if(confirm("¿Está seguro de eliminar la foto seleccionada?")){
				document.getElementById("container").innerHTML = "<img src=\"templates/img/spinner.gif\" />";
				xajax_eliminarFoto(document.getElementById("id_prenda").value, imageID);
			}
		});	
	}

	$(document).ready(function(){
		prepararBorrados();
		
		$("#btGrabar").click(function(){
			document.getElementById("orden").value = imgOrder;
			document.getElementById("subefoto").value = "";
			document.forms["frmGaleria"].submit();
		});
		
		$("#fotonueva").change(function(){
			if(document.getElementById("fotonueva").value != ""){
				document.getElementById("subefoto").value = "S";
				document.forms["frmGaleria"].submit();
			}
		});
		
		$(".button").click(function(){
			$(this).children("input[class=link]").each(function() {
				document.location = $(this).attr("value");
			});
		});
	});
</script>
{/literal}
<form action="" method="POST" enctype="multipart/form-data" name="frmGaleria">	
	{$NAVEGADOR}
	<div class="button">
		<img src="templates/img/ico-btn-talles.gif" alt="Editar detalles" border="0">
		<input type="hidden" class="link" value="admin-catalogo.php?MOD=prendas&COD={$id_prenda}&ACC=M" />
		<b>Editar detalles</b>
	</div>
	<div class="button">
		<img src="templates/img/ico-btn-colores.gif" alt="Administrar colores" border="0">
		<input type="hidden" class="link" value="admin-catalogo.php?MOD=colores-prenda&COD={$id_prenda}" />
		<b>Administrar colores</b>
	</div>
	<div class="button">
		<img src="templates/img/ico-btn-talles.gif" alt="Administrar talles" border="0">
		<input type="hidden" class="link" value="admin-catalogo.php?MOD=talles-prenda&COD={$id_prenda}" />
		<b>Administrar talles</b>
	</div>
	<div class="button">
		<img src="templates/img/ico-btn-stock.png" alt="Administrar stock" border="0">
		<input type="hidden" class="link" value="admin-catalogo.php?MOD=stock-prenda&COD={$id_prenda}" />
		<b>Administrar stock</b>
	</div>
	<div class="clear" />
	<br />
	
	<div class="celda-campo">
		<div class="tit-campo">Subir nueva foto</div>
		<input type="file" name="fotonueva" id="fotonueva" size="90" />
	</div>
	<div class="clear" style="height: 20px;"></div>
	<div class="clear">
		<div id="container">
			{section name=linea loop=$FOTOS}
			<div class="image" id="{$FOTOS[linea].nombre_imagen}" style="background-image:url({$FOTOS[linea].url});">
				<a href="#" class="delete">
					<img src="templates/img/ico-lst-eliminar.gif" />
				</a>
			</div>
			{/section}
			<div class="clear"></div>
		</div>
	</div>
    <input type="hidden" name="orden" id="orden" />
    <input type="hidden" name="subefoto" id="subefoto" />
	<input type="hidden" name="ERROR" value="{$ERROR}">
	<input type="hidden" name="id_prenda" id="id_prenda" value="{$id_prenda}">
</form>
{literal}
<script language="javascript">
	if (document.forms["frmGaleria"].elements["ERROR"].value != "")
		alert(document.forms["frmGaleria"].elements["ERROR"].value);
</script>
{/literal}