<!-- barra lateral -->
<table cellspacing="3" cellpadding="2" border="0">
	<tr>
		<td width="7" height="5"><img src="templates/img/transp.gif" width="7" height="5" /></td>
		<td width="99%" height="5"><img src="templates/img/transp.gif"/></td>
		<td width="6" height="5"><img src="templates/img/transp.gif" width="6"  height="5" /></td>
	</tr>
    
    <tr>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/config-catalogo.jpg" /></td>
      <td height="20" align="left" background="templates/img/transp.gif" ><a href="admin-catalogo.php" align="center" class="bl">Administrar Catálogo</a></td>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
    </tr>
    <tr>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
      <td height="1" background="templates/img/transp.gif" ><img src="templates/img/transp.gif" /></td>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
    </tr>
	
	<tr>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/reportes.jpg" /></td>
      <td height="20" align="left" background="templates/img/transp.gif" ><a href="admin-ventas.php" align="center" class="bl">Ventas</a></td>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
    </tr>
    <tr>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
      <td height="1" background="templates/img/transp.gif" ><img src="templates/img/transp.gif" /></td>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
    </tr>
	
	<tr>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/configuracion.png" /></td>
      <td height="20" align="left" background="templates/img/transp.gif" ><a href="admin-parametros.php" align="center" class="bl">Configuraciones</a></td>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
    </tr>
    <tr>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
      <td height="1" background="templates/img/transp.gif" ><img src="templates/img/transp.gif" /></td>
      <td  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
    </tr>
	
    <tr>
		<td width="7"  height="99%" background="templates/img/transp.gif"><img src="templates/img/cambiar-clave.png" /></td>
		<td width="99%" height="20" align="left" background="templates/img/transp.gif" ><a href="cambiar-clave.php" align="center" class="bl">Cambiar clave</a></td>
		<td width="6"  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
	</tr>
	<tr>
		<td width="7"  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
		<td width="99%" height="1" background="templates/img/transp.gif" ><img src="templates/img/transp.gif" /></td>
		<td width="6"  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
	</tr>
	
	<tr>
		<td width="7" height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
		<td width="99%" height="1" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
		<td width="6"  height="99%" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
	</tr>
	<tr>
		<td width="7" background="templates/img/transp.gif"><img src="templates/img/transp.gif" /></td>
		<td width="99%" background="templates/img/transp.gif" ></td>
		<td width="6" background="templates/img/transp.gif"><img src="templates/img/transp.gif"/></td>
	</tr>
	<tr>
		<td width="7" height="5"><img src="templates/img/transp.gif" width="7" height="5" /></td>
		<td width="99%" height="5"><img src="templates/img/transp.gif"/></td>
		<td width="6" height="5"><img src="templates/img/transp.gif" width="6"  height="5" /></td>
	</tr>
</table>
<!-- /barra lateral -->