{literal}
<style>
* {margin:0; padding:0; outline:0}
.nav {height:36px; background:#aaa; color:#fff; text-shadow:1px 1px #888; z-index:1000}
.menu a {float:left; color:#eee; text-decoration:none; width:120px; height:28px; padding-top:8px}
.menu span {float:left; color:#eee; text-decoration:none; width:120px; height:28px; padding-top:8px}
.menu a:hover {color:#fff}
.menu {list-style:none; font:16px Arial,Verdana; text-align:center; width:600px; margin:0 auto}
.menu li {position:relative; float:left; width:120px; z-index:1000}
.menu ul {display:none; position:absolute; font:normal 13px Arial,Verdana; top:36px; left:0; background:#aaa; display:none; list-style:none}
.menu ul li {float:none; border-top:1px solid #ccc; width:120px}
.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {float:none; display:block; background:none; height:22px; padding-top:5px}
.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {background:#999; color:#fff}
.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {float:none; display:block; background:none; height:22px; padding-top:5px}
.menu ul ul {left:120px; top:0}
.menu li.submenu {font-weight:bold}
.menu li.noborder {border-top:none}
li.menuhover a, li.menuhover li.menuhover a {color:#fff; background:#999}
li.menuhover span, li.menuhover li.menuhover span {color:#fff; background:#999}
#info {width:180px; background:#eee}
#info li {width:160px; border-top:none; padding:8px 10px; color:#666; text-shadow:1px 1px #fff; text-align:left}

#scripinty {
    background: none repeat scroll 0 0 #666666;
    height: 130px;
    left: 0;
    margin: 0;
    min-width: 900px;
    position: fixed;
    top: 0;
    width: 100%;
}
#scripintyleft {
    float: left;
    padding: 30px 0 0 35px;
}
#scripintyleft h1 {
    color: #FFFFFF;
    font: 32px 'Trebuchet MS',Verdana;
    text-shadow: 1px 1px #000000;
}
#scripintyleft p {
    color: #AAAAAA;
    font-size: 16px;
    font-style: italic;
}
#scripintyleft p a {
    color: #EEEEEE;
    text-decoration: none;
}
#scripintyleft p a:hover {
    color: #FFFFFF;
}
#scripintyleft span {
    color: #DDDDDD;
    font: 15px Arial,Verdana;
    text-shadow: 1px 1px #444444;
}
#scriptinyright {
    background: none repeat scroll 0 0 #555555;
    float: right;
    height: 120px;
    padding: 10px 15px 0;
    width: 300px;
}
#bsap_aplink {
    color: #EEEEEE;
    float: right;
    font-size: 10px;
    margin: 0;
    padding: 4px 0 0;
    text-shadow: none;
}
#bsap_aplink:hover {
    color: #FFFFFF;
}

</style>
{/literal}
<div class="nav">
    <ul id="menu" class="menu">
        <li><a href="#">One</a>
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li class="submenu">
                    <a href="#">Three</a>
                    <ul>
                        <li class="noborder"><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>      
            </ul>
        </li>
        <li><span>Two</span>
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li class="submenu">
					<span>No Link</span><ul>
                		<li class="noborder"><a href="#">One</a></li>
                		<li><a href="#">Two</a></li>
                		<li><a href="#">Three</a></li>
                		<li><a href="#">Four</a></li>
                		<li><a href="#">Five</a></li>
					</ul>
				</li>
                <li><a href="#">Five</a></li>
                <li><a href="#">Six</a></li>
            </ul>
        </li>
        <li><a href="#">Three</a>
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </li>
        <li><a href="#">Four</a>
            <ul id="info">
				<li>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo nulla, malesuada in porta vitae, fermentum ac nulla.</p>
				</li>
            </ul>
        </li>
    </ul>
</div>
{literal}
<script type="text/javascript">
	var dropdown=new TINY.dropdown.init("dropdown", {id:'menu', active:'menuhover'});
</script>
{/literal}