<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="left" colspan="3">
			<table border="0" width="100%">
				<tr>
					<td align="center">
						<font class="nivel02">Fecha desde</font>
						<input type="checkbox" name="FD_SI" {$FD_SI_CHECKED}>&nbsp;<font class="nivel03">Incluir</font><br />
						{html_select_date prefix="FECHA_DESDE" field_order=DMY time=$FECHA_DESDE start_year="-5" end_year="+2"}
					</td>
					<td width="30">
						&nbsp;
						<br />
						&nbsp;
					</td>
					<td align="center">
						<font class="nivel02">Fecha hasta</font>
						<input type="checkbox" name="FH_SI" {$FH_SI_CHECKED}>&nbsp;<font class="nivel03">Incluir</font>
						<br />
						{html_select_date prefix="FECHA_HASTA" field_order=DMY time=$FECHA_HASTA start_year="-5" end_year="+2"}
					</td>	
				</tr>
			</table>
		</td>
	</tr>
    <tr>
		<td width="170" align="left">
			<font class="nivel02">Ordenar por</font>
			<br />
			<select name="ORDEN_CAMPO" id="ORDEN_CAMPO" style="font-size: 1.5em; height: 32px">
				{html_options values=$ORDEN_ID selected=$ORDEN_DFTO output=$ORDEN_NOM}
			</select>
		</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
		<td width="105" align="center">
			<font class="nivel02">Buscar por</font>
			<br />
			<input name="ORDEN_TXT" type="text" value="{$ORDEN_TXT}" size="20" class="campo-texto-w2">
		</td>
		<td width="30">
			&nbsp;
			<br />
			<input name="btOK" type="image" id="btOK" src="templates/img/btn-buscar.png" border="0" title="Iniciar b&uacute;squeda" vspace="10" class="nada">
		</td>
	</tr>
</table>
