<table height="95%" width="97%" align="center" cellspacing="0" border="0" id="cien">
  <tr>
    <td align="center" width="310px" valign="top">{include file="barra_lateral.htm"}</td>
    <td valign="top">
		<table width="95%" cellspacing="0" cellpadding="0" align="center" id="cien1" border="0">
			<tr>
				<td colspan="3" height="27" class="nivel01">BIENVENIDO AL PANEL DE ADMINISTRACIÓN DEL SITIO DE PRILI</td>
			</tr>	
			<tr>
				<td background="templates/img/pnl_fnd_izq.gif">
					<img src="templates/img/transp.gif"/>
				</td>
				<td valign="top" height="550px" style="background-repeat:repeat-y; background: url(templates/img/pnl_fnd.gif);" bgcolor="#dbdea5">&nbsp;
                	
                </td>
				<td background="templates/img/pnl_fnd_der.gif">
					<img src="templates/img/transp.gif"/>
				</td>
			</tr>
			<tr>
				<td height="14" width="14" style="background-repeat:repeat-x;">&nbsp;</td>
				<td height="14" >&nbsp;</td>
				<td height="14" width="16" style="background-repeat:repeat-x;">&nbsp;</td>
			</tr>
		</table>
    </td>
  </tr>
</table>
