<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>A NOVO</title>
<meta HTTP-EQUIV="CONTENT-TYPE" content="text/html; charset=UTF-8" >
<meta name="CONTENT-TYPE" content="text/html; charset=UTF-8" >
<link href="cdg/estilos.css" rel="stylesheet" type="text/css" media="screen">
<link href="cdg/menues.css" rel="stylesheet" type="text/css" media="screen">
<script language="javascript" src="html/estilo01/cdg/clonar.js"></script>
</head>
<body bgcolor="#e9f1e7" style="background-color:#e9f1e7;">
<form name="frm_codigo" method="POST" action="javascript:;" onsubmit="opener.duplicar('prueba','frm_codigos',5,'lienzo1','lienzo2','lienzo3');this.elements['codigo'].value='';">
<table cellspacing="0" border="0" width="100%">
	<tr>
		<td colspan="2" class="nivel01">Ingreso de código</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td width="70%" align="right"><input type="text" name="codigo" size="20"></td>
		<td><input type="image" src="img/btn_ok.gif" border="0" name="enviar" value="ingresar" class="nada"></td>
	</tr>
</table>
</form>
<script language="javascript">
	document.forms["frm_codigo"].elements["codigo"].focus();
</script>
</body>
</html>
